
.first-button {
  padding: 10px;
  color: white;
  background-color: #030561;
  border-radius: 1px;
}

.second-button {
  padding: 10px;
  color: white;
  background-color: #030561;
  border-radius: 1px;
}
