* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

.btn {
    background-color: aquamarine;
    color: rgb(158, 158, 158);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}
.btn:active {
    filter: brightness(90%);
}