@use 'core/reset';
@use 'components/code';
@use 'components/links';
@use 'layout/page';
@use 'layout/header';
@use 'layout/footer';
@use 'pages/index';


.button {
    background-color: blue;
    color: white;
}
.active {
    background-color: #4CAF50;
}

button {
    background-color: aquamarine;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 30px;
}

button:active {
    filter: brightness(90%);
}

input {
    border: none;
    border-radius: 5px;
    padding: 25px;
}

.btn {
    background-color: aquamarine;
    color: red;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

.btn:active {
     filter: brightness(90%);
}

h1 {
    font-style: italic;
}